/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4e92e2, #67b3ff);
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #0056b3;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

header .top-bar h1 {
    margin: 0;
    font-size: 1.5em;
}

/* Navigation */
nav {
    background-color: #003f7f;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover,
nav a.active {
    background-color: #004f99;
}

/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Extractor Section */
#extractor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input#mpd-url {
    background-color: #fff; /* Background putih untuk input */
    color: #000; /* Teks hitam untuk input */
    border: 1px solid #ccc; /* Border terang untuk input */
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

button {
    background-color: #0056b3; /* Warna tombol */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background-color: #004f99; /* Warna tombol saat hover */
}

/* Results Section */
.results h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #004085;
}

.result-box {
    background-color: #fff; /* Background putih untuk box hasil */
    color: #333; /* Teks gelap untuk kontras */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-box textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #ccc; /* Border untuk textarea */
}

.result-box button {
    background-color: #0056b3; /* Warna tombol dalam result-box */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin: 10px auto 0 auto;
}

.result-box button:hover {
    background-color: #004f99; /* Warna tombol saat hover dalam result-box */
}

/* Footer */
footer {
    background-color: #004085;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

footer section h2 {
    margin-top: 0;
}

footer section p {
    margin-bottom: 10px;
}